annotated-types==0.7.0
cffi==2.0.0
cryptography==46.0.2
Jinja2==3.1.6
MarkupSafe==3.0.3
psycopg-binary==3.2.10
psycopg2-binary==2.9.10
pycparser==2.23
pydantic==2.11.9
pydantic_core==2.33.2
PyMySQL==1.1.2
typing-inspection==0.4.2
typing_extensions==4.15.0
